<h2>About US</h2>
<div>
    <div>
        A mobile device is a general term for any type of handheld computer. These devices are designed to be extremely portable, and they can often fit in your hand. Some mobile devices—like tablets, e-readers, and smartphones—are powerful enough to do many of the same things you can do with a desktop or laptop computer
    </div>

    <h4>Vision</h4>
    <div>We believe that we are on the face of the earth to make great products and that's not changing. </div>
    <h4>Mission</h4>
    <div>To devote its talent and technology to creating superior products and services that contribute to a better global society.</div>

    <h4>Contact Details</h4>
    <div>
        Mr Gert Dean <br />
        Tel: 067 897 9090 <br />
        Email: deang@mobilezone.co.za
    </div>
    <div>
        Mrs Johna Marry <br />
        Tel: 067 897 9090 <br />
        Email: marryj@mobilezone.co.za
    </div>
    <b />
</div> 