@{ ViewBag.Title = "Mobile Devices"; }
<div>

    <!-- Title-->
    <div id="Title" class="jumbotron bg-warning border border-primary">
        <div class="font-weight-bolder text-light text-sm-left text-md-right text-lg-center display-4">Mobile Devices</div>
    </div><!-- Title end -->
    <!-- **** Definition **** -->
    <div id="Definition">
        <h3 class="font-weight-bold">What is a Mobile device?</h3>
        <div>
            A mobile device is a small hand-held device that has a display screen with touch input and/or a QWERTY keyboard and may provide users with telephony capabilities. Mobile devices are used
            interchangeably (phones, tablets) throughout this document.
            A mobile device can be any mobile computer or a variety of other electronic
            devices that have portable functionality. Typical examples include smartphones, tablets, laptop computers, smart watches,
            e-readers, and handheld gaming consoles.
        </div>

    </div> <!-- Definition end -->
    <!-- **** Types of mobile devices **** -->
    <br />
    <div id="TypesOfMobiles">
        <h4 class="font-weight-bold">Different types of mobile devices</h4>
        <div>
            <div>
                <div class="text-center">
                        <img src="~/images/MicrosoftSurface.png" class="img-thumbnail" style="width:150px" /> 
                        <h5 class="font-italic">Microsoft Surface</h5>
                        <br />
                        Microsoft Surface is a series of touchscreen-based personal computers, tablets and interactive
                        whiteboards designed and developed by Microsoft, running the Microsoft Windows operating system,
                        apart from the Surface Duo, which runs on Android.
                </div>
            </div>
            <div>
                <div class="text-center">
                        <img src="~/images/Tablet.png" class="img-thumbnail" style="width:150px" />
                        <h5 class="font-italic">Tablets</h5>
                        A tablet computer, commonly shortened to tablet, is a mobile
                        device, typically with a mobile operating system and touchscreen
                        display processing circuitry, and a rechargeable battery in a single,
                        thin and flat package.
                    </div>
                </div>

            </div>
            <div>
                <div class="text-center">
                        <img src="~/images/Laptop.png" class="img-thumbnail" style="width:150px" />
                        <h5 class="font-italic">Laptop computers</h5>
                        A laptop, laptop computer, or notebook computer is a small,
                        portable personal computer (PC) with a screen and alphanumeric keyboard. Laptops can
                        be powered either from an internal battery or by an external power supply from an AC adapter.
            </div>
        </div>
    </div> <!-- Types of mobiles end -->
</div>

